# Build directories
buildRelese/
build/
cmake-build-debug/
cmake-build-release/

# Compiled Object files
*.o
*.out

# Databases
*.db
*.sqlite3

# IDE folders (optional, but recommended)
.idea/